body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.mainbody {
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap:10px;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
   
}

.frontcard,
.backcard {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    text-align: center;
   
}


.frontcard {
    background: blue;
    backface-visibility: hidden; /* Hide back side of the front card */
}


.backcard {
    background: yellow;
    backface-visibility: hidden; 
    transform: rotateY(180deg); /* Initially, the back card is rotated */
}

/* flipping card */
.cardflip {
    transform: rotateY(180deg); 
}

.image {
    max-width: 40%; 
    max-height: 40%; 
   
}

.match{
    visibility: hidden;
}